python-dotenv
openai
prompt-toolkit
anthropic
farcaster
goat-sdk
goat-sdk-wallet-web3
web3
goat-sdk-plugin-erc20
goat-sdk-plugin-coingecko
solders
solana
aiohttp
requests
jupiter-python-sdk
allora-sdk
requests-oauthlib
together
fastapi
uvicorn